.img_profil{
    max-width: 50%;
}

.container {
    padding : 50px;
}

.data {
    background-color: aqua;
}

.skil {
    background-color: bisque;
}

.custom-padding {
    margin-top: 20px;
}

.card-padding {
    padding: 20px;
    
}

.img-cs {
    width: auto;
    height: 400px;
}